@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #F5F5F5;
    --second-bg-colour: #E0E0E0;
    --text-colour: #333333;
    --main-colour: #0077BE;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-colour);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    color: var(--main-colour);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.have {
    background-color: var(--bg-color);
}

.have h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1  30rem;
    background: var(--second-bg-colour);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-colour);
    transform: scale(1.02);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: center;
    text-justify: auto;
}


.have .hys i {
    font-size: 3rem;
    color: #F5F5F5;
    vertical-align: middle;
}

.have .hys .b {
    margin-top: 5rem;
    cursor: pointer;
}

.b {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-colour);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-colour);
    font-size: 1.6rem;
    color: var(--second-bg-colour);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin: auto;
    display: table;
}

.b:hover {
    box-shadow: none;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .have {
        padding-bottom: 7rem;
    }

    .review {
        padding-bottom: 7rem;
    }

    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .eras-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .have h2 {
        margin-bottom: 3rem;
    }

    .project h2  {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .eras-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}